* {
  margin: 0 0 0 0;
  height: 0 0 0 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#login, #lobby, #room {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.notify {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2em;
  padding: 1em;

  a#close {
    margin-right: 2em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.success {
  background: #006400;
  color: #fff;
}

.error {
  background: #8B0000;
  color: #fff;
}

form {
  p {
    padding: 0.5em;
  }
}

input {
  border: 1px solid #e5e5e5;
  outline: 0;
  width: 190px;
  background: #fff;
  padding: 7px 4px;

  &:focus, &:hover {
    border-color: #c9c9c9;
  }
}

label {
  margin-left: 10px;
  color: #999;
}

button {
  width: auto; 
  padding: 9px 15px; 
  border: 0; 
  font-size: 14px; 
  background: #617798; 
  width: 200px;
  color: #FFFFFF; 
}

#login {
  background: #cecece;

  h1 {
    font-size: 5em;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    border-radius: 0.5em;
    padding: 1em;
    background: #fff;
    width: 30%;
    height: 30%;
  }
}



#lobby {
  .wrapper {
    margin: 0px auto;
    width: 80%;
  }

  .rooms {
    width: 80%;
    float: left;
    ul li {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      padding-top: 1em;
      padding-bottom: 1em;
      border-top: 1px solid #cecece;
      list-style: none;
      &:first-child {
        border-top: none;
      }

      &:hover {
        background: #c1c1c1;
      }
    }
  }

  .people {
    width: 20%;
    float: left;

    ul {
      list-style: none;
    }
  }
}

#room {
  header {
    height: 5%;
    h2 {
      display: inline;
      margin: 0 0 0 0;
      padding: 0.5em;
    }
  }

  #text, #roomUser, #message, button {
    border-radius: 1em;
  }

  #text, #roomUser {
    height: 88%;
    overflow-x: hidden;
    float: left;
    .padding {
      padding: 1em;
    }
  }

  #text {
    background: #B2B2B1;
    width: 80%;
  }

  #roomUser {
    width: 20%;
    color: #fff;
    background: #47576F;
    ul {
      list-style: none;
    }
  }

  form {
    height: 7%;
  }

  #message {
    background: #cecece;
    height: 100%;
    width: 80%;
    border: 0px;
    padding-left: 1em;
    box-sizing: border-box;
  }

  button {
    width: 20%;
    height: 100%;
    padding: 0 0 0 0;
    font-size: none;
  }
}
